<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="index">
        <div>
            <img src="images/index.png">
        </div>   
    </div>
    <div class="menu-bar-container">
        <div class="menu-bar"><a href="#">홈</a> </div>
        <div class="menu-bar"><a href="#">관심<br>종목</a></div>
        <div class="menu-bar"><a href="#">현재가</a></div>
        <div class="menu-bar"><a href="#">주식<br>주문</a></div>
        <div class="menu-bar"><a href="#">주식<br>잔고</a></div>
        <div class="menu-bar"><a href="#">종합<br>차트</a></div>
        <div class="menu-bar"><a href="#">지수환율<br>시장지표</a></div>
        <div class="menu-bar"><a href="#">매매<br>동향</a></div>
        <div class="menu-bar"><a href="#">즉시<br>이체</a></div>
        <div class="menu-bar"><a href="#">총자산<br>현황</a></div>
      </div>
</body>
</html>