<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02e49749bb.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        /* body */
        body {
            margin: 0;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
        }

        /* portfolio btn */
        #portfolio button {
            background-color: transparent;
            position: relative;
            top: 400px;
            border: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <img src="images/menu_tab.png">
        <div id="portfolio">
            <button>포트폴리오</button>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                // any necessary data can be defined here
            },
            methods: {
                // any necessary methods can be defined here
            }
        });
    </script>
</body>
</html>